<body>

    <div class = header>
        <h1>About Me</h1>
    </div>

    <div class = "image1">
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQH6pBA4kS0I3w/profile-displayphoto-shrink_200_200/0?e=1589414400&v=beta&t=kTA5Lej5H8Fe9yRp_dXoI30X-sOCktMQ38r3oiKPQcM">
    </div>

    <!-- <div class = "image2">
        <img src="/assets/codepic.jpg" alt = "">
    </div>

    <div class = "image3">
        <img src="/assets/camppic.jpg" alt = "">
    </div> -->

    <div class = "bod">
        <p> My name Dhanush Vasudevan and I am a Sophomore Computer Engineering students at Iowa State University. I chose to be a Computer Engineering major because of my passion for technology
            and my knack for problem-solving. My three main areas of interest are Cyber-Security, Machine-Learning and App-design/development. After college, I wish to work for a company
            that has a meaningful mission, and I hope to step in and provide an immediate impact for the company and the customers they serve.
                                                                                                                                    
        </p>
    </div>
    <div class = "footer">

    </div>

</body>