<div class = header>
    <h1>Experience</h1>
</div>

<div class = exp>
    <div class = deere>
    <h3 class = small>Year-Round Cloud Security Intern, <a> Mar 2019 - Present</a>
    </h3>
    <h4  class = small>
        John Deere - <b>Ames, IA </b>
        <ul>
            <li>Utilize Amazon Web Services (AWS) to maintain a secure cloud infrastructure </li>
            <li>Carry out automated security measures through the use of Python and other scripting tools </li>
            <li>Analyze the logistics of the cloud security measures through Splunk metrics </li>
        </ul>
        
    </h4 >
    </div>

    <div class = research> 
    <h3 class = small> Machine-learning Undergraduate Research Assistant, <a> Dec 2018 - Oct 2019</a>
    </h3>
    <h4  class = small>
        Iowa State University - <b>Ames, IA </b>
        <ul>
            <li>Utilize Amazon Web Services (AWS) to maintain a secure cloud infrastructure </li>
            <li>Carry out automated security measures through the use of Python and other scripting tools </li>
            <li>Analyze the logistics of the cloud security measures through Splunk metrics </li>
        </ul>

    </h4 >
    </div>

    <div class = fhp> 
        <h3 class = small> Freshman Honors Program Leader, <a> Aug 2019 - Dec 2019</a>
        </h3>
        <h4  class = small>
            Iowa State University - <b>Ames, IA </b>
            <ul>
                <li>Utilize Amazon Web Services (AWS) to maintain a secure cloud infrastructure </li>
                <li>Carry out automated security measures through the use of Python and other scripting tools </li>
                <li>Analyze the logistics of the cloud security measures through Splunk metrics </li>
            </ul>
    
        </h4 >
        </div>



</div>