.header {
    padding-top: 2em;
    border-bottom:  solid black;
}

h3.small {line-height: 20%}

h4.small {line-height: 20%}

.exp{
    a{
        font-size: 70%;
    }

    b{
        font-size: 80%;
    }
    ul{
        font-size: 80%;
        li{
            margin: 20px;

        }
    }
}

.deere {
    padding-bottom: 1em;
}

.research {
    padding-bottom: 1em;
}

.fhp{
    padding-bottom: 1em;

}